<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../static/app_info.css">

<body>
    <div class="container">
        <div class="title">
            <header>
                <h1>App Info</h1>
            </header>
        </div>

        <div class="back-page">
            <a href="{{ url_for ('homepage') }}" , methods="GET">
                <input class="button" type="submit" value="Back" name="">
            </a>
        </div>
        <br>

        <div class="Content">
            <div class="what">
                <h1>Objective Of Insurance Premium Predictor</h1>
            </div>

            <div class="what-ans">
                <p>
                    The purpose behind this project is to build an machine learning model which will predict rough
                    estimate of insurance premium based on some parameters like age, BMI, sex, etc. Which would help
                    user to choose appropriate health insurance policy.
                </p>
            </div>

            <div class="type">
                <h1>Input Fields Description</h1>
            </div>

            <div class="types-kernel">
                <ul>
                    <li>Age</li>
                    <p>In Age input field enter your present age</p>
                    <li>Gender</li>
                    <p>Select your gender</p>
                    <li>BMI</li>
                    <p>Enter your Body Mass Index ratio</p>
                    <li>Children</li>
                    <p>In this input field enter how many childrens do you have, if no then enter 0</p>
                    <li>Smoker</li>
                    <p>Here If a person is smoker then select yes else select no</p>
                    <li>Region</li>
                    <p>In this input field select from from which region do you belong</p>
                </ul>
            </div>

            <div class="bene">
                <h1>Benefits of Insurance Premium Predictor:-</h1>
            </div>

            <div class="benefits">
                <ul>
                    <li>It is one of the most prominent and crucial benefits of insurance. The insured individual or organizations are indemnified under the insurance policies against losses. Buying the right type of insurance policy is indeed, a way to get protection against losses arising from different uncertainties in life.</li>
                    <li>The uncertainty of paying for the losses incurred out of pocket has a significant impact on cash flow management. However, with an insurance policy by your side, you can tackle this uncertainty with ease. The chosen insurance provider pays in the event of happening of an insured event whenever they occur.</li>
                    <li>Unit linked  insurance plan, , invest a part of the premium into several market linked funds. This way, they enables you to invest money regularly to benft of market linked returns and  fulfil your life goals.</li>
                </ul>
            </div>

            <div class="app-info">
                <h1>App Info</h1>
            </div>

            <div class="app-information">
                <p>This application will help to find out  how much insurance premium an individual need based on their health situation</p>
            </div>

        </div>


        <div class="foot">
            <footer>Copyright © 2021 by MKT & Adityaraj</footer>
        </div>

    </div>


</body>

</html>