<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Info</title>
    <link rel="stylesheet" href="../static/Developer.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script> src = "https://kit.fontawesome.com/a076d05399.js"</script>

</head>

<body>
    <section id="navbar">
        <h2>Contact-Us</h2>
        <nav>
            <ul>
                <li><a href="{{url_for ('homepage') }}"  methods='GET'>Home</a></li>
                <li><a href="{{url_for ('form') }}"  methods='GET'>Back To Predictor</a></li>
                <li><a href="{{url_for ('about') }}"  methods='GET'>App Info</a></li>
            </ul>
        </nav>
    </section>

    <section id="animation">
        <div class="square">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="circle">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="pic">
            <div class="img">
                <img src="../static/mkt.jpg" alt="">
            </div>
            <div class="img">
                <img src="../static/aditya.jpg" alt="">
            </div>
        </div>
        <div id="info">
            <div class="content">
                <h2>Manthan Takalkar</h2>
                <p class="aboutMe">Hello myself Manthan Takalkar. I am pursuing my Bachleors degree in IT from
                    Savitribai Phule Pune University. Currently I am learning Python, Data Analysis, Machine
                    Learning,etc. I am also intrested in creating front end web applications. At present I am doing my
                    internship in iNeuron.ai in various ML domains. Beside this I love playing outdoor games, learning
                    about new things in various fields. I am always ready to make new connections as well open for job
                    and internship opportunities. </p>
                <div id="navbar2">
                    <h2>Contact-Me</h2>
                    <nav>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/manthan-takalkar-62969a213/" target="_blank">Linkded in</a></li>
                            <li><a href="https://github.com/ManthanTakalkar" target="_blank">Github</a></li>
                            <li><a href="https://www.facebook.com/manthan.takalkar/" target="_blank">skype</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="content">
                <h2>Adityaraj Chaudhari</h2>
                <p class="aboutMe">Hello I am Adityaraj Hemant Chaudhari.Currently I am pursuing my B.E degree from SPPU
                    Pune.Currently I am studying Machine Learning , Data Science , Data Analysis , etc.I am doing
                    Machine Learning internship in iNeuron.ai.I am open to make connections and also for job
                    as well as internship opportunities!.Other than this I like playing
                    Outdoor sports, reading books, hiking etc.</p>
                <div id="navbar2">
                    <h2>Contact-Me</h2>
                    <nav>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/adityaraj-chaudhari-4450701b9/" target="_blank">Linkded in</a></li>
                            <li><a href="https://github.com/AdityarajChaudhari" target="_blank">Github</a></li>
                            <li><a href="https://join.skype.com/invite/u8o6ghERf71M" target="_blank">skype</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="foot">
            Copyright © 2021 Insurance Premium Predictor | All rights reserved!
        </div>
    </footer>
</body>

</html>
